.intro{
    text-align: center;
    height: 100px; 
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 50px;
}
.intro h2{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
body{
    background-color: ;
    font-size: 62.5% /* 1em=10px*/
}
.about h3{
    text-align: center;
}
.social h3{
    text-align:center;
}
.footer{
    padding-top: 1.563.em;
    color: black;
    background-color: ;
    padding-bottom: 2.5em;
    padding-left: 1.250em;
    font-size: 1.3em;

}
.about{
    margin-bottom: 4.375em;
}
.skills h3{
    text-align: center;
}
ul li{
    float: left;
    display: inline;
    margin-bottom: 50px;
}
.python{
    padding-left: 20px;
}
.intro h1 {
    margin: 0;
    font-size: 3em;
}

html, body {
    margin: 0 0 0 10px;
    padding: 0;
}
h1{
    font-size: 3em;
}
h2{
    font-size: 2.7em;
}
h3{
    font-size: 2.3em; 
}
p{
    font-size: 1.7em;
}